{
    "username": "you",
    "password": "",
    "interface": "0.0.0.0",
    "port": 2101,
    "mountPoint": "NEAR-Place",
    "userAgent": "NearTrip/1.0",
    "stations": [
        {
            "mountPoint": "LAX_2",
            "casterHost": "ntrip.example.com",
            "casterPort": 2101,
            "username": "person",
            "password": "secret",
            "latitude": 24.345,
            "longitude": -125.456
        },
        {
            "mountPoint": "SFO_1",
            "casterHost": "different.example.com",
            "casterPort": 2101,
            "username": "human",
            "password": "",
            "latitude": 34.567,
            "longitude": -123.456
        }
    ]
}